In [73]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

In [74]:
df = pd.read_csv(r'C:\Users\Admin\Documents\Đại học\DS102\Thực Hành\BTTH1\forest+fires\Data.csv')

In [75]:
df

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area
0,7,5,3,5,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,0.000000
1,7,4,10,2,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,0.000000
2,7,4,10,6,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,0.000000
3,8,6,3,5,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,0.000000
4,8,6,3,0,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,4,3,8,0,81.6,56.7,665.6,1.9,27.8,32,2.7,0.0,2.006871
513,2,4,8,0,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,4.012592
514,7,4,8,0,81.6,56.7,665.6,1.9,21.2,70,6.7,0.0,2.498152
515,1,4,8,6,94.4,146.0,614.7,11.3,25.6,42,4.0,0.0,0.000000
516,6,3,11,2,79.5,3.0,106.7,1.1,11.8,31,4.5,0.0,0.000000

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X       517 non-null    int64
 1   Y       517 non-null    int64
 2   month   517 non-null    int64
 3   day     517 non-null    int64
 4   FFMC    517 non-null    float64
 5   DMC     517 non-null    float64
 6   DC      517 non-null    float64
 7   ISI     517 non-null    float64
 8   temp    517 non-null    float64
 9   RH      517 non-null    int64
 10  wind    517 non-null    float64
 11  rain    517 non-null    float64
 12  area    517 non-null    float64
dtypes: float64(8), int64(5)
memory usage: 52.6 KB

In [77]:
class LinearRegression:
    # Hàm huấn luyện mô hình hồi quy tuyến tính.
    def fit(self, X: np.ndarray, y: np.ndarray) -> None:
        cov = X.T @ X
        inv_cov = np.linalg.inv(cov)
        self.theta_: np.ndarray = inv_cov @ (X.T @ y)
    
    # Hàm tính toán sai số trung bình bình phương căn gốc (Root Mean Square Error).
    def rmse(self, y: np.ndarray, y_hat: np.ndarray) -> float:
        delta = y - y_hat
        
        return (delta**2).mean()**0.5
    
    # Hàm dự đoán các giá trị đầu ra dựa trên dữ liệu đầu vào X.
    def predict(self, X: np.ndarray) -> np.ndarray:
        y_pred = np.matmul(self.theta_.T, X.T)
        
        return y_pred

In [78]:
# Chuẩn hóa dữ liệu
def standard(st: str) -> None:
    df[st] = (df[st] - df[st].mean()) / df[st].std()

In [79]:
# Chuẩn hóa dữ liệu
for column in df.columns:
    df[column] = (df[column] - df[column].mean()) / df[column].std()

In [80]:
df

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area
0,1.007337,0.569309,-1.966538,0.945525,-0.805180,-1.322045,-1.828706,-0.860113,-1.840857,0.411326,1.497164,-0.073197,-0.794477
1,1.007337,-0.243765,1.109046,-0.453816,-0.008094,-1.178399,0.488418,-0.509195,-0.153130,-0.691786,-1.740070,-0.073197,-0.794477
2,1.007337,-0.243765,1.109046,1.411972,-0.008094,-1.048806,0.560173,-0.509195,-0.738668,-0.691786,-1.516813,-0.073197,-0.794477
3,1.439531,1.382383,-1.966538,0.945525,0.191177,-1.211188,-1.896429,-0.004751,-1.823636,3.230391,-0.009824,0.602572,-0.794477
4,1.439531,1.382383,-1.966538,-1.386710,-0.243597,-0.930142,-1.796859,0.126843,-1.289763,3.352959,-1.237741,-0.073197,-0.794477
...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,-0.289244,-1.056839,0.230308,-1.386710,-1.638496,-0.845829,0.474309,-1.561947,1.534597,-0.753070,-0.735411,-0.073197,0.640605
513,-1.153631,-0.243765,0.230308,-1.386710,-1.638496,-0.845829,0.474309,-1.561947,0.518517,1.637006,0.994835,-0.073197,2.074865
514,1.007337,-0.243765,0.230308,-1.386710,-1.638496,-0.845829,0.474309,-1.561947,0.397965,1.575722,1.497164,-0.073197,0.991913
515,-1.585825,-0.243765,0.230308,1.411972,0.680298,0.548471,0.269122,0.499693,1.155720,-0.140230,-0.009824,-0.073197,-0.794477
516,0.575144,-1.056839,1.548415,-0.453816,-2.018923,-1.684282,-1.778719,-1.737406,-1.220876,-0.814354,0.269248,-0.073197,-0.794477

In [81]:
lr = LinearRegression()

In [82]:
X_y = df.to_numpy()

In [83]:
X_y.shape

(517, 13)

In [84]:
N = df.shape[0]
X_y_train, X_y_test = np.split(X_y, indices_or_sections = [int(0.8*N)])

In [85]:
X_train, X_test = X_y_train[:, :-1], X_y_test[:, :-1]
X_train.shape, X_test.shape

((413, 12), (104, 12))

In [86]:
y_train, y_test = X_y_train[:, -1], X_y_test[:, -1]
y_train.shape, y_test.shape

((413,), (104,))

In [87]:
lr.fit(X_train, y_train)

In [88]:
y_pred = lr.predict(X_test)

In [89]:
lr.rmse(y_pred, y_test)

np.float64(1.2953568660284718)

RMSE nhỏ hơn nhiều, cho thấy mô hình đã cải thiện đáng kể và dự đoán gần với giá trị thực tế hơn. Điều này có thể đạt được sau khi chuẩn hóa dữ liệu.